<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EPMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="WellCompareTemplatePath" value="Templates\\"/>
    <add key="WellCompareTempName" value="WellCompar.xlsx"/>
    <add key="SqlConnection" value="Data Source=JASEEL\SQLEXPRESS;Initial Catalog=EPMS;User ID=sa;Password=Admin123*;Connect Timeout=30"/>
  </appSettings>

  <userSettings>
    <EPMS.Properties.Settings>
      <setting name="ComparionDataFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ComparisionDataFileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ComparisionOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ComparisionTemplateName" serializeAs="String">
        <value />
      </setting>
      <setting name="ComparisionTemplatePath" serializeAs="String">
        <value />
      </setting>
    </EPMS.Properties.Settings>
  </userSettings>
</configuration>